.page {
  --bg-dark: #1f1f1f;
  --bg-light: #f2f2f2;
  --links-and-shapes: #2f80ed;
  --text: #000000;
  --text_theme_dark: #fff;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.page a:hover {
  opacity: .6;
  transition: opacity 0.15s ease;
}
