.footer__column-link {
    display: block;
    width: max-content;
    color: var(--text_theme_dark);
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
  }