.feynman__link {
    position: absolute;
    display: block;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    color: var(--links-and-shapes);
    text-decoration: none;
  }

  .feynman__link:hover {
    opacity: .6;
    transition: opacity 0.15s ease;
  }