.khan__book-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    color: var(--links-and-shapes);
    text-decoration: none;
    height: min-content;
}

.khan__book-link:hover {
    opacity: .6;
    transition: opacity 0.15s ease;
}